<header class="site-header cf">
    <div class="container">
        <div class="left-header cf"> 
            <img src="img/header_icon.png" alt="" />
            <div class="site-title-container">
                <a href="front-page.html" class="site-title"> Landlord and Tenants <br class="title-breaker" />Rights</a>
                <div class="title-sub">Helping you rent easier...</div>
            </div>    
        </div>    

        <nav class="nav-bar">
            <ul class="header-nav">
                <li><a class="nav-link" href="front-page.html">News</a></li>
                <li><a class="nav-link" href="default-page.html">Documents</a></li>
                <li><a class="nav-link" href="default-page.html">Your Rights</a></li>
                <li><a class="nav-link" href="custom-page.html">Contact Us</a></li>
        </nav>
    </div>
</header>